*, *:before, *:after{
    box-sizing:border-box;
    margin:0;
    padding: 0;
    outline: 0;
}
#cancha{
    width: 100%;
    height: width/2;
}
button{
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    cursor: pointer;
    height: 2rem;
    font-size: 20px;
    margin: 4px 20px;
    font-style: oblique;
}
button:hover {
    background-color: #008CBA;
    color: white;
}
.btns{
    grid-area: btns;
    display: grid;
    grid-template-areas:
    "btns1 jugar btns2";
}
.btns1{
    grid-area: btns1;
    display: grid;
}
.jugar{
    grid-area: jugar;
    height: 4rem;
    margin-top: 8px;
}
.btns2{
    grid-area: btns2;
    display: grid;
}

